# VISUAL STUDIO JUNK
#==================
*.sdf
*.user
*.suo
*.opensdf
*.sdf
*.autosave
*.aps
*.VC.*
.vs

# FOLDERS
#==================
Binaries/
Build/
Temp/


# TEMP FILES
#==================
*.BASE.cpp
*.LOCAL.cpp
*.REMOTE.cpp
